:root {
  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
}

main {
  height: calc(100vh - 48px);
}

a {
  all: unset;
  cursor: pointer;
}

/* 
=======
HEADER
=======
*/
.nav-bar {
  background-color: var(--grey-300);
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-side-content,
.left-side-content {
  margin: 0 16px;
}
.username {
  font-size: 1.5rem;
}

.section-center {
  width: 100%;
  height: calc(100% - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
=======
FORMS
=======
*/
.form-field {
  margin-bottom: 12px;
}
