:root {
  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
}

main {
  min-height: calc(100vh - 48px);
}

a {
  all: unset;
  cursor: pointer;
}
.small-text{
  font-size: 0.75rem;
}

/* 
=======
HEADER
=======
*/
.nav-bar {
  background-color: var(--grey-300);
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-side-content,
.left-side-content {
  margin: 0 16px;
}
.username {
  font-size: 1.5rem;
}

.section-center {
  min-height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-middle {
  min-height: calc(100vh - 48px);
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* 
=======
HEADER
=======
*/

.tooltip-container {
  position: relative;
  margin-left: 4px;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: var(--grey-800);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  max-width: 400px;
}

.tooltip-trigger:hover + .tooltip {
  display: block;
}

/* 
=======
FORMS
=======
*/
/* Sing in form */
.form-field {
  margin-bottom: 12px;
}

#vote-form-form {
  margin: 16px 0;
}
.form-errors {
  color: red;
  margin-top: 16px;
}

/* 
=======
Vote Form
=======
*/
.vote-form > * {
  margin: 0 8px;
  margin-bottom: 6px;
}
.vote-form {
  margin: 16px;
  display: flex;
  flex-direction: column;
  width: 720px;
  height: fit-content;
  background-color: var(--grey-200);
  border-radius: 8px;
}
.right-content > * {
  display: inline;
  margin: 0;
}
.right-content {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: auto;
}
.form-closing-date-bundle > * {
  display: inline;
  margin: 0;
}
.vote-field {
  width: 100%;
  margin-bottom: 8px;
}
.vote-bar-container {
  display: grid;
  align-items: center;
}
.vote-bar-container > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.vote-bar {
  height: 48px;
  border-radius: 4px;
  background-color: var(--grey-400);
}
.vote-bar-text {
  margin-left: 8px;
}
.vote-input {
  display: flex;
  margin-left: 8px;
}
.vote-bar-percents-verbal {
  margin-left: auto;
  margin-right: 8px;
}
